<h1>Bands</h1>

#foreach($band in $bands)
  <ul>
    <li><a href = "/bands/$band.getId()">$band.getName()</a></li>
  </ul>
#end

<h1>Add a Band:</h1>

<form action="/bands" method="post">
  <label for="bandName">Band Name:</label>
    <input type="text" name="bandName" id="bandName"></input><br>

  <button class="button">Add Band</button>
</form>
