<h1>Band Tracker</h1>

<button class="btn"><a href="/bands">View Bands</a></button>
<button class="btn"><a href="/venues">View Venues</a></button>


<br><img src="vinyl.jpg" style="width: 500px;margin-left:-140px">
