<h1>Venues</h1>

#foreach($venue in $venues)
  <ul>
    <li><a href="/venues/$venue.getId()">$venue.getName()</a></li>
  </ul>
#end

<h1>Add Venue:</h1>

<form action="/venues" method="post">
  <label for="venueName"></label>
    <input type="text" name="venueName" id="venueName" required></input>

      <button type="submit" class="btn btn-default">Add Venue</button>
</form>

<br><a href="/bands"><< View Bands</a>
